* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*HEADER*/
header {
    padding: 20px;
    background-color: #2a607c;
    display: flex;
    flex-grow: 2;
    justify-content: space-between; 
}

/*HEADER Logo*/
h1 {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    font-size: 48px;
}

.seo {
    color:  #ecfade;
}

/*HEADER Nav/Menu*/
nav {
    padding-top: 15px;
    margin: 0 20px 0 45px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*BANNER IMAGE*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
    object-position: center;
}

p {
    font-size: 16px;
}

/*MAIN SECTION*/
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
article
{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*MAIN SECTION Images*/
article img {
    max-height: 200px;
} 

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*SIDEBAR*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*SIDEBAR Icons*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*FOOTER*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h4{
    font-size: 20px;
}
